.subpage_nav {
    margin-top: -2px;
    margin-left: 60px;
    color: #FFF;
}

.breadcrumb-nav {
    list-style: none;
    padding: 0;
    margin: 0 0 0.75rem;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.breadcrumb-nav li:first-child {
    padding-left: 0;
    background: none;
}

.breadcrumb-nav li {
    font-weight: 500;
    margin-left: 20px;
    font-size: 15px;
    background: url("../img/arrow.svg") no-repeat 0.25rem 0.125rem/0.375rem;
    padding-left: 2rem;
    display: inline;
}

a.last__nav {
    pointer-events: none;
    /* ссылка некликабельная */
    cursor: default;
    /* установка курсора в виде стрелки(по умолчанию) */
    color: #968C8C;
    font-weight: 600;
}

.breadcrumb-nav a {
    color: #FFF;
}

/* Меню с ссылками */

.main__catalog {
    padding-left: 0;
    padding-right: 0;
    margin-left: -36px;
}

.name-category {
    font-size: 32px;
    line-height: 1.2em;
    color: #0093B2;
    font-weight: 700;
    margin-left: -13.8rem;
    margin-top: 3.75rem;
    margin-bottom: 1.875rem;
}

.content {
    padding: 0;
    margin-left: -24%;
}

.subcategories {
    margin-left: 50px;
    padding-left: 25px;
    border-bottom: 1px dashed #FFF;
}

.sorting-view {
    border-bottom: 1px dashed #FFF;
    border-top: 1px dashed #FFF;
    padding: 10px 5px 10px 0;
    margin-top: -1px;
}

.product-sorting {
    color: #FFF;
    font-size: 14px;
    margin-left: 120px;
    display: inline-block;
}

.pull-right {
    border-radius: 0;
    float: right;
}

.product-count {
    display: inline-block;
    color: #FFF;
    margin-right: 256px;
}

.dropdown-menu {
    background-color: #060918 !important;
    color: #FFF !important;
}

.btn-group {
    margin-left: 10px;
}

.btn-group>.btn:first-child {
    margin-left: 0;
}

.sorting-view .btn-default {
    font-size: 14px;
    display: inline-block;
    border-color: #FFF;
    color: #FFF;
}

.btn-group>.btn, .btn-group-vertical>.btn {
    position: relative;
    float: left;
}

.sorting-view .btn .caret {
    margin-left: 50px;
}

.content .cart-items {
    padding-top: 20px;
    /* margin-left: -7rem; */
}

ul.cart-items {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

/* Сортировка */

.cartsItem {
    border: 1px solid rgba(0, 0, 0, 0%);
    padding: 5px;
}

ul.cart-items .cart-img {
    display: block;
}

.image__cart {
    position: relative;
    display: inline-block;
    max-width: 100%;
    display: block\9;
}

ul.cart-items li .image {
    width: 190px;
    height: 190px;
    display: table-cell;
    vertical-align: middle;
}

.ul.cart-items li .h5 {
    height: 56px;
}

.ul.cart-items li .h5 {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    line-height: 18px;
    margin: 0 0 3px;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul.cart-items li .rating-list {
    display: none;
}

.nowrap {
    white-space: nowrap;
}

ul.cart-items li .cart-prices {
    margin-bottom: 12px;
}

ul.cart-items li .price {
    font-weight: 700;
}

.similar {
    line-height: normal;
}

ul.cart-items li button i {
    margin-left: 10px;
}

.simbol::before {
    content: "\27A4";
}

.theme-background {
    background-color: #0A9396;
    border-radius: 5px;
    color: white;
    width: 186px;
    height: 38px;
    border: none;
}

.f1 {
    display: flex;
    /* margin-left: 60px; */
}

.main {
    background-color: #060918;
    padding-top: 18px;
    height: 100%;
}

.product {
    padding: 50px 0;
}

.product__info {
    margin-bottom: 40px;
}

.product__title {
    display: inline-block;
    font-size: 2rem;
    margin-right: 7px;
}

.product__title--gray {
    color: #b3b3b7;
}

.thumbs {
    display: block;
    margin-left: -7rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 225px);
    width: 100%;
    max-width: 1000px;
    justify-content: center;
    justify-items: center;
    column-gap: 30px;
    row-gap: 40px;
    margin: 0 auto auto 7rem;
}

.card {
    width: 225px;
    min-height: 350px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    transition: 0.2s;
    position: relative;
}

.card .card__label {
    padding: 4px 8px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: #0A9396;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.card:hover {
    box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
}

.card__top {
    flex: 0 0 220px;
    position: relative;
    overflow: hidden;
}

.card__image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card__image>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.2s;
}

.card__image:hover>img {
    transform: scale(1.1);
}

.card__bottom {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    padding: 10px;
}

.card__prices {
    display: flex;
    margin-bottom: 10px;
}

.card__price {
    flex: 0 0 50%;
}

.card__price:after {
    content: "₽";
    margin-left: 4px;
    position: relative;
}

.card__price--discount {
    font-weight: 700;
    font-size: 19px;
    color: #414141;
    display: flex;
    flex-wrap: wrap-reverse;
}

.card__price--discount::before {
    content: "Стоимость";
    font-weight: 400;
    font-size: 13px;
    color: #bfbfbf;
}

.card__price--common {
    font-weight: 400;
    font-size: 17px;
    color: #606060;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
}

.card__price--common::before {
    content: "Обычная";
    font-weight: 400;
    font-size: 13px;
    color: #bfbfbf;
}

.card__title {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #414141;
}

.card__title:hover {
    color: #216D9E;
}

.card__add {
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 17px;
    color: #0A9396;
    padding: 10px;
    text-align: center;
    border: 1px solid #0A9396;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
    margin-top: auto;
}

.card__remove {
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 17px;
    color: #d62240;
    padding: 10px;
    text-align: center;
    border: 1px solid #d62240;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
    margin-top: auto;
}

.card__remove:hover {
    border: 1px solid #d62240;
    background-color: #d62240;
    color: #fff;
}

.card__add:hover {
    border: 1px solid #216D9E;
    background-color: #216D9E;
    color: #fff;
}

.cart:hover {
    transform: scale(1.1);
}

.page-nav, .page-nav__list {
    padding: 0;
    display: flex;
    align-items: center;
}

.page-nav {
    margin-left: 7.3rem;
    margin-top: 2.3rem;
    text-align: center;
    justify-content: flex-start;
}

.page-nav__list {
    margin-top: 1.25rem;
    gap: 0.375rem;
    margin-left: -7rem;
}

.page-nav__total {
    margin-left: 2.125rem;
    margin-top: 0.25rem;
    color: #747270;
    font-size: 0.75rem;
    white-space: nowrap;
}

.page-nav__item {
    list-style: none;
}

.page-nav__link:hover {
    background-color: #FFF;
    color: #000;
}

.page-nav__item--active .page-nav__link {
    color: #000;
    background: #FFF;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

.page-nav__link {
    padding: 0;
    color: #FFF;
    border-radius: 0.5625rem;
    min-width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
}


.cart {
    margin-top: -36px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #005F73;
    transition: 0.1s;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Увеличиваем кнопку при наведении на нее */
.cart:hover {
    transform: scale(1.1);
}

/* Стилизуем счетчик товаров */
.cart__num {
    position: absolute;
    background-color: #0A9396;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    top: -5px;
    right: -5px;
}

.page-nav__item--active {
    list-style: none;
}

/* Адаптив каталога */
@media screen and (max-width: 480px) {

    .product-sorting {
        margin-left: 0;
    }

    .sorting-view {
        display: flex;
        flex-direction: column;
        margin-left: -45%;
    }

    #dropdown-menu {
        margin-bottom: 20px;
    }

    .product-count {
        width: 20px;
        display: flex;
        font-size: 14px;
    }

    .btn__mobl {
        margin-left: 35px;
    }

    #drop__mob {
        width: 160px;
    }

    .sorting-view .btn .caret {
        margin-left: 100px;
    }

    .content .cart-items div .cards {
        display: block;
        margin-left: -50px;
    }

    .card {
        margin-top: 50px;
    }

    .card:first-child {
        margin-top: 0;
    }

    .page-nav {
        margin-left: -50px;
    }

    .page-nav__item--active {
        list-style: none;
    }
}