.footer {
    background-color: #353433;
    width: 100%;
    height: 100%;
    padding: 35px 0 50px;
}

.logo__text {
    font-size: 40px;
    color: white;
    line-height: 140%;
    font-weight: 600;
    margin-left: -30px;
    margin-top: 30px;
}

.footer .footer-column {
    margin-bottom: 10px;
    line-height: 140%;
    color: white;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.column1 {
    margin-top: -24px;
}

.list-unstyled {
    line-height: 180%;
    padding-left: 0;
    list-style: none;
    text-align: left;
}

.alint-left {
    margin-left: 50px;
}

.footer_link {
    color: white;
    margin-top: 10px;
}

.copyright {
    color: white;
    padding: 10px 0 20px;
    text-align: center;
    margin-left: 24rem;
    margin-top: 2rem;
}

.banner__img {
    display: none;
}

.checkbox {
    display: none;
}

.one1 {
    display: none;
}

.logo-link1 img {
    display: block;
    width: 100px;
    /* margin: 0 20%; */
} /* Подвал страницы */


/* Адаптив подвала */
@media screen and (max-width: 480px) {
    .footer {
        width: 100%;
        height: 100%;
    }

    .img_log {
        width: 80px;
        height: 80px;
    }

    .logo__text {
        font-size: 18px;
        margin-right: 6rem;
    }

    .logo_lk {
        margin-left: 1rem;
        margin-right: auto;
    }

    .logo__text {
        font-size: 18px;
        margin-right: 6rem;
    }

    .footer__section {
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: grid;
        grid-template-rows: 2fr 28px 2fr;
    }

    .column1 {
        margin-left: 5%;
        margin-top: 18%;
    }

    .alint-left {
        text-align: center;
        margin-left: 10%;
    }

    .align-center {
        margin-left: 32%;
    }

    .footer-column {
        margin-left: 20px;
    }

    .footer_link {
        text-align: center;
    }
    
    .copyright {
        margin-top: -5%;
    }

}